# Connect to Supabase via connection pooling
DATABASE_URL=DATABASE_URL

# Direct connection to the database. Used for migrations
DIRECT_URL=DIRECT_URL

SUPABASE_URL=SUPABASE_URL
SUPABASE_ANON_KEY=SUPABASE_ANON_KEY


FRONTEND_URL=FRONEND_URL